body {
  font-family: 'Merriweather', serif;
  background-color: #faf6f6;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-header {
  /*background-color: #a54a4a;*/
  background: linear-gradient(to right, #a54a4a, #880e4f);
  color: white;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  
}

.baymax-img {
  position: fixed;
  bottom: -50px; /* Start slightly below screen */
  right: -10px; /* Slightly off-screen */
  width: 150px; /* Adjust size */
  transition: bottom 0.5s ease-in-out;
}

.baymax-img:hover {
  bottom: 0; /* Baymax slides in when hovered */
}